/*
This file is used to import all the other layout files.
Layout files are used to build the structure of the site. This includes things like the header, footer, and navigation.
*/

@forward "footer";
@forward "header";
