// Colors
$clr--white: #ffffff;
$clr--black: #000000;

// Font Family
$ff--primary: "Roboto", sans-serif;
$ff--secondary: "Open Sans", sans-serif;

// Font Sizes
$fs--root: 16px;

$fs--0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
$fs--1: clamp(1.35rem, 1.2631rem + 0.3864vw, 1.5625rem);
$fs--2: clamp(1.62rem, 1.4837rem + 0.6057vw, 1.9531rem);
$fs--3: clamp(1.944rem, 1.7405rem + 0.9044vw, 2.4414rem);
$fs--4: clamp(2.3328rem, 2.0387rem + 1.3072vw, 3.0518rem);
$fs--5: clamp(2.7994rem, 2.384rem + 1.8461vw, 3.8147rem);
$fs--6: clamp(3.3592rem, 2.7828rem + 2.5621vw, 4.7684rem);

// Font weights
$wg--400: 400;
$wg--500: 500;
$wg--700: 700;
$wg--900: 900;

// Line Heights
$lh--tight: 1.2;
$lh--base: 1.5;
$lh--loose: 1.8;

// Container padding

// Breakpoints
$breakpoints: (
  xs: 414px,
  sm: 768px,
  md: 1024px,
  lg: 1352px,
  xl: 1920px,
);

// Z-index
$z--0: 0;
$z--10: 10;
$z--20: 20;
$z--30: 30;
$z--40: 40;
$z--50: 50;
$z--60: 60;
$z--70: 70;
$z--80: 80;
$z--90: 90;
$z--100: 100;
