@use "../abstracts/tokens" as *;
@use "../abstracts/mixins" as *;

.container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;

  &--full {
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: auto;
    margin-right: auto;
  }

  // progressively larger max-widths
  @include respond-to(sm) {
    max-width: 720px;
  }

  @include respond-to(md) {
    max-width: 960px;
  }

  @include respond-to(lg) {
    max-width: 1200px;
  }

  @include respond-to(xl) {
    max-width: 1400px;
  }

  // extra spacing on huge screens
  @include respond-to(xl) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
